img {
    /*width: calc(100% - 10px);*/
    width: 100%;
    height: 224px;
    float: top;
}

.hidden-on-desktop {
    background: lightblue;
    padding: 1em;
    text-align: center;
    border: solid 1px #848487;
    width: calc(90% - 8px);
    position: relative;
}
h1 {
    text-align: center;
    font-size: 2em;

}
.nav-links {
    list-style-type: none;
    padding: 0;
}
ul>li {
    padding: 1em;
    margin: .5em 0;
    background: lightgray;
    text-align: center;
    width: calc(100% - 42px);
}
footer {
    margin-top: 10em;
}


.sub-section {
    font-style: italic;
}
div {
    float: right;
    position: relative;
    bottom: 0;
    clear: both;
    margin: 1em;
    padding: 1em;
}
.speech-bubble {
    position: relative;
    background: lightgray;
    border-radius: .4em;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 33%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: lightgrey;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -20px;
}
div li {
    display: inline-block;
    background: none;
    list-style-type: none;
    margin: 1em;
    width: 30px;
    height: 30px;
    right: 2em;
    position: relative;

}
li img {
    width: 30px;
    height: 30px;
    left: 1em;
    position: relative;
}



@media screen and (min-width:500px) {
    img {
        height: 385px;
        width: 100%;
        float: left;
        position: relative;
        left: 1em;
    }

    .hidden-on-desktop {
        display: none;
    }

    .nav-links li {
        background: none;
        display: inline;
        position: relative;
        top: 3em;
    }

    .nav-links {
        float: right;
    }

    .sub-section {
        float: right;
        width: calc(33% - 2em);
        margin: 1em;

    }

    .main {
        float: left;
        width: calc(66% - 2em);
        margin: 1em;
    }

    footer {
        clear: both;
        float: bottom;
        position: relative;
        bottom: 0;
        margin-top: 0;
    }

    h1 {
        float: left;
        font-size: 3em;
    }

    h2 {
        margin-bottom: 2em;
    }

    body {
        font-family: "Comic Sans MS";
    }

    section {
        columns: 1;
        min-height: 600px;
    }
}
